version: '3.8'

services:
  db:
    image: postgres:15
    container_name: crm_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: crm_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: mini_crm_app
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:password@db:5432/crm_db?schema=public"
      JWT_SECRET: "your_jwt_secret_here"
      PORT: 3000
    ports:
      - "3000:3000"

volumes:
  postgres_data:
